nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.previewContainer {
  list-style-type: none;
}

.previewContainer li {
  width: 200px;
}


.petList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

  

nav ul li:first-child {
  font-weight: bold;
}

nav {
  border: solid purple 0.5rem;
  margin: 0.5rem;
}

.previewContainer img {
  max-height: 150px;
}

.animalProfile {
  display:flex;
  flex-direction: column;
  justify-Content: center;
  align-items: center;
}
    
